@model CategoryVM

<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add New Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
        <div class="modal-body">
            <div class="container">
                <label asp-for="Name" class="form-label"></label>
                <input type="text" asp-for="Name" disabled class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="container">
                <label asp-for="Description"></label>
                <input type="text" asp-for="Description" disabled class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
</div>